@font-face {
    font-family: "DancingScript-Bold";
    src: url("fonts/DancingScript-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "DancingScript-Regular";
    src: url("fonts/DancingScript-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'DancingScript-Regular';
    margin: 0;
    padding: 0;
    background: url(../img/PhaseFinale.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent !important;
}

.header {
    background-color: #333;
    padding: 3px 10px;
}

.narration {
    background: url(../img/old_paper_stock_02_by_ftourini-d48ubt0.png) no-repeat top;
    padding: 4em !important;
    background-size: 100% 100%;
}

.narration h2, .home h2, .agbe_big_popup h3, .agbe_overlay h3, .agbe_big_popup h3 {
    font-size: 4em;
    font-family: "DancingScript-Bold" !important;
}
.narration h2{
    text-align: center;
}
.narration p, .agbe_big_popup p {
    font-size: 2.5em;
    font-family: 'DancingScript-Regular';
}

.narration img {
    max-width: 100%;
}

.narration li,.home li {
    font-size: 2.5em;
    font-family: 'DancingScript-Regular';
    list-style-image: url('../img/GWjPZ.png');
    list-style-position: inside;
}
.no-inside{
    list-style-position: outside !important;

}
.narration li .ng-binding,.narration li span {
    cursor: pointer;
    position: relative;
    top: -0.4em;
}

.white {
    color: white !important;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.inventaire{
    width: 14em;
    border: 1px solid white;
    padding:10px;
}
.inventaire p{
    font-size:1.5em !important;
    margin:0 !important;
}

.home {
    margin-top: 8em;
}

.home p {
    font-size: 2em;
    font-family: 'DancingScript-Regular';
    font-weight: normal;
    margin-top: 2em;
}

.home h4, .agbe_overlay h4, .agbe_big_popup h4 {
    font-size: 2.5em;
    font-family: 'DancingScript-Regular';
    font-weight: normal;
    margin-top: 2em;
}

.home h4:hover, .agbe_overlay h4:hover, .agbe_big_popup h4:hover {
    color: #edbb38;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.agbe_header {
    width: 100%;
}

.agbe_inventory_object_image {
    max-width: 100px;
    max-height: 100px;
    width: 60%;
}

.agbe_layer {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.agbe_full_display_table {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: table;
}

.agbe_center_horizontally {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.agbe_img_fill_keep_ratio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
}

.agbe_center_vertically_p_container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: table
}

.agbe_center_vertically_p {
    display: table-cell;
    vertical-align: middle
}

.agbe_left_part {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
}

.agbe_right_part {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100%;
}

.agbe_overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);

}

.agbe_big_popup {
    position: absolute;
    z-index: 2;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    color: white;
}

.pv-value {
}

.agbe_popup {
    position: absolute;
    top: 25%;
    left: 30%;
    width: 40%;
    height: 50%;
    color: white;
}

.agbe_vertical_10_70_20-0 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
}

.agbe_vertical_10_70_20-1 {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 70%;
}

.agbe_vertical_10_70_20-2 {
    position: absolute;
    top: 80%;
    left: 0%;
    width: 100%;
    height: 20%;
}

.agbe_vertical_10_90-0 {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 10%;
}

.agbe_vertical_10_90-1 {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: 90%;
}

.pointer {
    cursor: pointer;
}
