<div class="agbe_overlay" ng-show="fightPopupVisible" >
    <div class="agbe_big_popup">
        <div style="position:relative;width: 100%;height: 100%">
            <div class="agbe_dynamic agbe_id_height_0_10" style="text-align: center">
                <h3 class="white">fight !!!</h3>
            </div>
            <div class="agbe_dynamic agbe_id_height_10_80">
                <div class="agbe_dynamic agbe_id_leftPart">
                    <div class="agbe_vertical_10_70_20-0" style="text-align: center"><p>{{getMainCharacterName()}}</p></div>
                    <div class="agbe_vertical_10_70_20-1"><img class="agbe_img_fill_keep_ratio"
                                                               ng-src="{{getMainCharacterImgPath()}}"/></div>
                    <div class="agbe_vertical_10_70_20-2" style="text-align: center"><p class="pv-value">PV :
                        {{getMainCharacterHealthPoints()}}</p>
                    </div>
                </div>
                <div class="agbe_dynamic agbe_id_rightPart">
                    <div style="position:relative;width: 100%;height: 100%">
                        <div class="agbe_dynamic agbe_id_height_0_10" style="text-align: center"><p>{{getOpponentName()}}</p>
                        </div>
                        <div class="agbe_dynamic agbe_id_height_10_70"><img class="agbe_img_fill_keep_ratio"
                                                                            ng-src="{{getOpponentImgPath()}}"/></div>
                        <div class="agbe_dynamic agbe_id_height_70_100" style="text-align: center"><p class="pv-value">PV :
                            {{getOpponentHealthPoints()}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="agbe_dynamic agbe_id_height_10_80">
                <div class="agbe_center_horizontally" style="text-align: center">
                    <h4 class="pointer" ng-click="onClickAttack()">Attaquer</h4>
                    <h4 class="pointer" ng-click="onClickRetreat()" ng-show="isRetreatAvailable()">Retraite</h4>
                </div>
            </div>
        </div>
    </div>
</div>